.content {
  background: #f9f9ff;
  width: calc(100vw - 50px);
  max-width: 375px;
  padding: 0;
  margin: 0 auto;
}
.contentInitialScreen {
  padding: 0;
  min-height: max-content;
}

[class*="render-route-store-login"] .container {
  display: none;
}
:global(.pr0.items-stretch.flex) .container,
.label {
  display: block;
}

:global(.vtex-flex-layout-0-x-flexRow--wrapper-headerMobile-login) {
  background: #f9f9ff;
  height: 10vh;
  max-height: 70px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--wrapper-headerMobile-login)[class*="items-stretch w-100"] {
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  padding: 1.5rem 30px 1.25rem 40px;
  max-width: 375px;
  margin: 0 auto;
}
[class*="vtex-store-components-3-x-imageElement--header-icnHelp-Zendesk"] {
  width: 20px;
  height: 20px;
}
/* initial content */
.formTitle {
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  color: var(--main-blackCustom);
}
.contentInitialScreen .formTitle {
  padding: 30px 0;
  width: calc(100vw - 50px);
  max-width: 315px;
  margin: 0 auto 0 0;
}
.contentInitialScreen {
  touch-action: none;
}
.contentInitialScreen ul.optionsList {
  position: fixed;
  bottom: 20px;
  width: calc(100vw - 50px);
  max-width: 325px;
  margin: 0;
  background: #f9f9ff;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
.contentInitialScreen .options:after {
  content: "";
  background: url(assets/images/il-grid-login.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  position: relative;
  width: calc(100vw - 50px);
  max-width: 325px;
  height: 30vh;
  max-height: 180px;
  margin: 0 auto;
  z-index: 1;
}
ul.optionsList {
  display: flex;
  flex-direction: column;
}
ul.optionsList li {
  margin-bottom: 10px;
}
ul.optionsList li:nth-child(1) {
  order: 1;
}
ul.optionsList li:nth-child(2) {
  order: 4;
  margin-bottom: 0;
}
ul.optionsList li:nth-child(3) {
  order: 2;
}
ul.optionsList li:nth-child(4) {
  order: 3;
}
ul.optionsList li:nth-child(5),
ul.optionsList li.optionsListItem.optionsListItemContainer {
  display: none;
  margin-bottom: 0 !important;
}

ul.optionsList .optionsListItem button div {
  padding: 0 !important;
}
.accessCodeOptionBtn button,
div.emailPasswordOptionBtn button,
ul.optionsList .googleOptionBtn button,
ul.optionsList .facebookOptionBtn button {
  height: 60px;
  padding: 20px !important;
}
ul.optionsList .optionsListItem button,
ul.optionsList .accessCodeOptionBtn button div,
ul.optionsList .emailPasswordOptionBtn button div,
ul.optionsList .googleOptionBtn button div,
ul.optionsList .facebookOptionBtn button div {
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  background: var(--main-slateBlue1);
  color: #fff;
  border: none;
}
.options li.optionsListItem .oauthLabel {
  margin: 0;
  text-transform: none;
}
ul.optionsList .googleOptionBtn button div svg,
ul.optionsList .facebookOptionBtn button div svg {
  opacity: 0;
}
ul.optionsList .optionsListItem button div span {
  font-size: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  text-transform: none;
}
.contentInitialScreen
  ul.optionsList
  .optionsListItem
  div.accessCodeOptionBtn
  button
  div
  span {
  font-size: 0;
}
.contentInitialScreen
  ul.optionsList
  .optionsListItem
  div.accessCodeOptionBtn
  button
  div
  span::after {
  content: "Acesso rápido por e-mail";
  width: 200px;
  height: 20px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  text-align: right;
  top: -6px;
}
ul.optionsList .optionsListItem div.accessCodeOptionBtn button div:before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(assets/svg/icn-codEmail-Default.svg) no-repeat;
  background-position: left center;
  background-origin: padding-box;
}

ul.optionsList .optionsListItem div.emailPasswordOptionBtn button div:before {
  content: "";
  width: 32px;
  height: 16px;
  display: block;
  background: url(assets/svg/icn-signIn-primary.svg) no-repeat;
  background-position: left center;
  background-origin: padding-box;
}
ul.optionsList .googleOptionBtn button div::before {
  content: "";
  width: 32px;
  height: 16px;
  display: block;
  background: url(assets/svg/icn-google-secondary.svg) no-repeat;
  background-position: left bottom;
  background-origin: padding-box;
}
ul.optionsList .facebookOptionBtn button div::before {
  content: "";
  width: 32px;
  height: 23px;
  display: block;
  background: url(assets/svg/icn-facebook-secondary.svg) no-repeat;
  background-position: left bottom;
  background-origin: padding-box;
}

:global(.vtex-login-2-x-content) .contentForm {
  width: 100% !important;
  margin: 0 auto;
}

/*email and password*/
.emailAndPasswordForm {
  width: calc(100vw - 50px);
  max-width: 375px;
  margin: 0 auto;
  align-items: center;
}
.content--emailAndPassword .contentFormVisible {
  padding: 0;
}
.emailAndPasswordForm form {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  width: calc(100vw - 50px);
}
.emailAndPasswordForm form .formError {
  order: 3;
  font-size: 12px;
}
.emailAndPasswordForm form .inputContainerEmail {
  order: 1;
}
.emailAndPasswordForm form .inputContainerPassword {
  order: 2;
}
.emailAndPasswordForm form .formFooter {
  order: 4;
}
.emailAndPasswordForm form .formLinkContainer {
  order: 5;
}
.content--emailAndPassword .emailAndPasswordForm .formTitle {
  display: flex;
  flex-direction: column-reverse;
  font-size: 0;
  padding: 0;
  max-width: 325px;
}
.content--emailAndPassword .emailAndPasswordForm .formTitle:before {
  content: "Saúde a frente do tempo";
  display: block;
  color: var(--main-blackCustom);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  width: 100vw;
  max-width: 226px;
  height: 66px;
}
.content--emailAndPassword .emailAndPasswordForm .formTitle::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 325px;
  height: 172px;
  background: url(assets/images/il-grid-login.png) no-repeat;
  background-position: left center;
  background-size: cover;
  margin: 0 auto 0 0;
}
.emailAndPasswordForm form .inputContainer {
  padding: 0;
}
.emailAndPasswordForm form .inputContainer label div {
  margin: 0 auto 10px;
  padding: 14px 16px;
  width: 100%;
  height: 100%;
  max-height: 45px;
  max-width: 325px;
  background: transparent;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
}
.emailAndPasswordForm form .inputContainer label div input {
  height: max-content;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  background: transparent;
  color: var(--main-blackCustom);
  position: relative;
  top: -5px;
}
.emailAndPasswordForm form .inputContainer label div input::placeholder {
  color: var(--main-blackCustom);
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}

.emailAndPasswordForm form .inputContainerEmail::before {
  content: "Usuário";
  display: block;
  width: 100%;
  margin: 0 auto 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

.emailAndPasswordForm form .inputContainerPassword::before {
  content: "Senha";
  display: block;
  width: 100%;
  margin: 0 auto 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}
.emailAndPasswordForm form .formLinkContainer {
  justify-content: center;
  padding: 20px 0 0;
}
.emailAndPasswordForm form .formLinkContainer a {
  color: var(--main-blackCustom);
  text-decoration: underline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

form .formFooter {
  border: none;
  display: block;
  text-align: center;
  padding: 0;
}

.emailAndPasswordForm form .formFooter .sendButton button {
  font-family: "Poppins";
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 325px;
  height: 60px;
  background: var(--main-pink);
  border-radius: 30px;
  margin: 0 auto;
}
.emailAndPasswordForm form .formFooter .sendButton button div,
.emailAndPasswordForm form .formFooter .sendButton button div span {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}
:global(.vtex-login-2-x-formLinkContainer.flex.justify-center.ph0.mt4) {
  display: none;
}

.formFooter .backButton {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 18px;
  height: 20px;
  z-index: 999;
}
.formFooter .backButton:focus,
.formFooter .backButton:focus-visible {
  outline: none !important;
  border: none !important;
}
.formFooter .backButton button {
  opacity: 0;
  top: -25px;
}
.backButton::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background: url(assets/images/icn-arrow-left-default.png) no-repeat;
}

/* Esqueci a senha */
.content--beginCreatePass,
.content--recoveryPassword {
  min-height: calc(100vh - 70px);
}

.content--beginCreatePass .contentForm,
.content--recoveryPassword .contentForm {
  padding: 0;
}
.content--beginCreatePass .formTitle,
.content--recoveryPassword .formTitle,
.content--recoveryPassword .formSubtitle {
  font-size: 0;
}
.content--recoveryPassword .formSubtitle {
  height: 0;
  margin: 0;
}
.content--beginCreatePass .formTitle,
.content--recoveryPassword .formTitle {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}
.content--beginCreatePass .formTitle:after,
.content--recoveryPassword .formTitle:after {
  content: "";
  background: url(assets/images/il-grid-login.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  position: relative;
  width: 100%;
  max-width: 325px;
  height: 172px;
  margin: 0 auto 30px;
  z-index: 1;
}
.content--beginCreatePass .formTitle::before,
.content--recoveryPassword .formTitle::before {
  content: "Cadastrar nova senha";
  display: block;
  margin-top: -30px;
  margin-bottom: 89px;
  width: 100vw;
  max-width: 226px;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: var(--main-blackCustom);
}
.content--beginCreatePass .inputContainer label div,
.inputContainerAccessCode label div,
.inputContainer.inputContainerPassword label div {
  margin: 0 auto;
  padding: 14px 16px;
  width: 100%;
  height: 100%;
  max-height: 45px;
  background: transparent;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Poppins";
}

.inputContainer.inputContainerPassword label div input,
.content--beginCreatePass .inputContainer label div input,
.inputContainerAccessCode label div input {
  padding: 0;
  height: max-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  background: transparent;
  color: var(--main-blackCustom);
  font-family: "Poppins";
  top: -5px;
}

.content--beginCreatePass .inputContainer label div input::placeholder,
.inputContainer.inputContainerPassword label div input::placeholder,
.inputContainerAccessCode label div input::placeholder {
  color: var(--main-blackCustom);
  height: max-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Poppins";
}

.content--beginCreatePass .inputContainer::before,
form .inputContainerAccessCode::before {
  content: "Código de acesso";
  display: block;
  width: 100%;
  max-width: 325px;
  margin: 0 auto 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

.content--recoveryPassword form div:nth-child(2)::before {
  content: "Nova Senha";
  display: block;
  width: 100%;
  max-width: 325px;
  margin: 0 auto 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

.content--recoveryPassword form div:nth-child(3)::before {
  content: "Confirmar Senha";
  display: block;
  width: 100%;
  max-width: 325px;
  margin: 0 auto 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}
.content--recoveryPassword form .formFooter div:nth-child(2)::before {
  display: none;
}

.content--beginCreatePass form .formFooter div:nth-child(2) button,
.content--recoveryPassword form .formFooter div:nth-child(2) button {
  font-family: "Poppins";
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 325px;
  height: 60px;
  background: var(--main-pink);
  border-radius: 30px;
  margin: 0 auto;
}
.content--beginCreatePass form .formFooter div:nth-child(2) button div span,
.content--recoveryPassword form .formFooter div:nth-child(2) button div span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.forgotPasswordForm {
  display: block;
  max-width: 325px;
  width: calc(100vw - 50px);
}

.content--beginCreatePass form,
.forgotPasswordForm form {
  display: block;
  max-width: 325px;
  width: 100%;
}

.content--beginCreatePass form .inputContainer,
.forgotPasswordForm form .inputContainer {
  padding: 0 0 10px;
}

/*Código de acesso*/
.contentFormVisible .emailVerification {
  height: calc(100vh - 110px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.content--emailVerification .contentFormVisible .emailVerification {
  height: calc(100vh - 130px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}
.content--emailVerification .contentFormVisible,
.content--codeConfirmation .contentFormVisible {
  padding: 0;
}
.content--emailVerification .formTitle {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  max-width: 320px;
  width: calc(100vw - 50px);
}
.content--emailVerification .formTitle::after {
  content: "";
  background: url(assets/images/il-grid-login.png) no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0 auto 30px 0;
  display: block;
  position: relative;
  width: 100%;
  max-width: 325px;
  height: 172px;
  z-index: 1;
}
.content--codeConfirmation .codeConfirmation .formTitle::before {
  content: "";
  background: url(assets/images/il-grid-login.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 30px auto;
  display: block;
  position: relative;
  width: calc(100vw - 50px);
  left: 50%;
  transform: translateX(-50%);
  max-width: 325px;
  height: 172px;
  z-index: 1;
}
.content--emailVerification form {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  width: calc(100vw - 50px);
}
.content--codeConfirmation form {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  width: calc(100vw - 50px);
  margin: 0 auto;
}

.content--emailVerification form div label div {
  margin: 0 auto 10px;
  padding: 14px 16px;
  width: 100%;
  height: 100%;
  max-height: 45px;
  max-width: 325px;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  background: transparent;
}
.content--emailVerification form div label::before {
  content: "e-mail";
  display: block;
  width: 100%;
  max-width: 315px;
  height: 15px;
  margin: 0 auto 8px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
  font-weight: 700;
  font-family: "Poppins";
  font-size: 10px;
  line-height: 15px;
}

.content--emailVerification form div label div input {
  padding: 0;
  height: max-content;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  line-height: 16px;
  background: transparent;
  color: var(--main-blackCustom);
  top: -5px;
}
.content--emailVerification form div label div input::placeholder {
  color: var(--main-blackCustom);
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.content--emailVerification form .formFooter .sendButton button {
  font-family: "Poppins";
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 325px;
  height: 60px;
  background: var(--main-pink);
  border-radius: 30px;
  margin: 0 auto;
}
.content--emailVerification .formFooter .sendButton button div,
.content--emailVerification .formFooter .sendButton button div span {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 700;
}

.content--codeConfirmation {
  max-width: 325px;
  width: calc(100vw - 50px);
}

.content--codeConfirmation .codeConfirmation {
  height: calc(100vh - 130px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.codeConfirmation form .formError {
  font-family: "Poppins";
  background: var(--main-pink);
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}
.content--codeConfirmation .formTitle {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  max-width: 325px;
  width: calc(100vw - 50px);
  position: relative;
}
.content--codeConfirmation form div label div {
  margin: 0 auto 10px;
  padding: 14px 16px;
  width: 100%;
  height: 100%;
  max-height: 45px;
  max-width: 325px;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  background: transparent;
}
.content--codeConfirmation form div label div input {
  padding: 0;
  height: max-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  background: transparent;
  color: var(--main-blackCustom);
  top: -5px;
}
.content--codeConfirmation form div label div input::placeholder {
  color: var(--main-blackCustom);
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.codeConfirmation .inputContainerAccessCode {
  padding: 0;
}
.content--codeConfirmation form .formFooter .sendButton button {
  font-family: "Poppins";
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 325px;
  height: 60px;
  background: var(--main-pink);
  border-radius: 30px;
  margin: 0 auto;
}

.content--codeConfirmation .formFooter .sendButton button div,
.content--codeConfirmation .formFooter .sendButton button div span {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 700;
}

/* Tooltip */
.tooltipContainer {
  position: relative;
  display: block;
  top: 50px;
  left: 0;
  margin: 20px auto 0;
  padding: 0;
  background: transparent;
}

.inputContainerPassword div :global(.pa2) {
  padding: 0;
  margin: 20px 0 10px;
}
.inputContainerPassword
  div
  :global(.pa2)
  div
  :global(.flex.flex-row.c-success)
  div:first-child {
  text-align: center;
  background: url(assets/svg/ic-red-vector.svg) no-repeat;
  background-position: center center;
  background-origin: padding-box;
  width: 20px;
}

.inputContainerPassword
  div
  :global(.pa2)
  div
  :global(.flex.flex-row.c-danger)
  div:first-child,
.inputContainerPassword
  div
  :global(.pa2)
  div
  :global(.flex.flex-row.c-muted-2)
  div:first-child {
  width: 20px;
}

.inputContainerPassword
  div
  :global(.pa2)
  div
  :global(.flex.flex-row.c-success)
  div:first-child
  span,
.inputContainerPassword
  div
  :global(.pa2)
  div
  :global(.flex.flex-row.c-danger)
  div:first-child
  span,
.inputContainerPassword
  div
  :global(.pa2)
  div
  :global(.flex.flex-row.c-muted-2)
  div:first-child
  span {
  opacity: 0;
}
.inputContainerPassword
  div
  :global(.pa2)
  :global(.flex.flex-row.c-success)
  span {
  color: var(--main-blackCustom);
  font-weight: 700;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
}
.inputContainerPassword
  div
  :global(.pa2)
  :global(.flex.flex-row.c-muted-2)
  span,
.inputContainerPassword
  div
  :global(.pa2)
  :global(.flex.flex-row.c-danger)
  span {
  color: var(--main-blackCustom);
  font-weight: 500;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
}

.content--recoveryPassword form .inputContainer :global(.pa2)::before,
.content--recoveryPassword form .inputContainer :global(.w-80)::before,
.content--recoveryPassword form .inputContainer :global(.mt2)::before {
  display: none;
}

@media screen and (max-width: 330px) {
  .contentInitialScreen .formTitle {
    padding: 30px 0 30px 25px;
    width: calc(100vw - 50px);
    max-width: 325px;
    margin: 0 auto 0 0;
  }
}
@media screen and (min-width: 376px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--wrapper-headerMobile-login)[class*="items-stretch w-100"] {
    max-width: 100%;
  }
}
