.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.flexRowContent--footer-mobile-payments-container {
  flex-direction: column;
  display: flex;
}
