.container--sticky-header {
    background: #FFF;
}

/*OrderPlaced*/
.wrapper--stickyHeader-orderPlaced,
.wrapper--stickyHeader-orderPlaced .container--stickyHeader-orderPlaced{
    background: transparent !important;
}
