.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}


.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
/*Header*/
.flexRowContent--main-header-mobile .container {
  display: block;
}
.flexRowContent--main-header{
  min-height: 76px;
  background: #FFF;
  padding: 10px 20px 0px;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
}
.flexRow--h-login-header-mobile{
  background: #FFF;
  padding: 27.12px 15px 23px;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
}


/*footer*/
.flexCol--footer-infos-col {
  padding: 60px 25px 0;
}

.flexCol--footer-mobile-grid-icones-col{
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px 5px;
  margin-bottom: 30px;
}

.flexColChild--footer-mobile-grid-icones-col :global(.vtex-store-components-3-x-imageElement) {
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 5px;
}

/* ORDER PLACED */
.flexColChild--header-container-orderPlaced{
  position: relative;
  max-height: 75px;
  background: #FFF;
  border-radius: 0 0 35px 35px;
  filter: drop-shadow(12px 12px 40px rgba(62,62,147,0.1));
  top: -1px;
}
.flexColChild--header-container-orderPlaced::after {
  content: '';
  display: block;
  margin: -1px auto 0;
  width: 95%;
  height: 4px;
  position: relative;
  background: url(assets/svg/li-curvedBorder.svg) no-repeat;
  background-size: 100%;
  background-position: top center;
  filter: drop-shadow(12px 12px 40px rgba(62,62,147,0.1));
}

.flexRow--h-mainContent-orderPlaced {
  height: 75px;
  max-width: 375px;
  margin: 0 auto;
}
.flexRowContent--h-mainContent-orderPlaced {
  height: 75px;
  align-items: center;
  -webkit-box-align: center;
  padding: 19px 20px 13px;
}
.flexRowContent--content-op{
  display:flex;
  padding:0 1.5rem;
}
.flexRowContent--content-op .stretchChildrenWidth:first-child{
  width:15% !important;
}
.flexRowContent--content-op .stretchChildrenWidth:last-child{
  width:85% !important;
}
.flexRow--op-order-section{
  padding: 20px;
  background:#fff;
  border-radius:10px;
  margin:1.5rem 0;
}
.flexRowContent--hifive  {padding: 0 0 30px;}

.flexRowContent--hifive .stretchChildrenWidth{
  text-align:center;
  padding:70px 0 40px;
}
.flexRowContent--hifive .stretchChildrenWidth:last-child{
  padding: 0;
}
.flexRowContent--hifive,
.flexRowContent--hifive .stretchChildrenWidth,
.flexRowContent--op-order-section,
.flexRowContent--op-order-section .stretchChildrenWidth,
.flexRowContent--op-order-options,
.flexRowContent--op-order-options .stretchChildrenWidth{
  width:100% !important;
  display:block;
}

@media screen and (max-width:639px) {
  .flexRowContent--footer-mobile-infos {
    max-width: calc( 90vw - 25px );
    margin: 0 auto;
  }  
}
@media screen and (min-width:376px) {
  .flexRow--h-mainContent-orderPlaced {
    max-width: 100%;
  }
}

@media screen and (min-width: 640px) {
  :global(.vtex-order-placed-2-x-orderWrapper) .flexRow:not(.flexRow--op-order-section) .flexRowContent {
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 41rem) and (max-width: 79rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}