.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.paragraph--footer-mobile-title-payments,
.paragraph--footer-mobile-title-security {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--main-slateBlue1);
  margin-top: 0;
  margin-bottom: 20px;
}


/* ORDER PLACED */
.paragraph--op-confirmation-title{
  padding:0;
  margin:0;
  font-size:30px;
  font-weight:700;
  line-height: 33px;
  color: var(--main-blackCustom);

}
.wrapper--op-title-customer .paragraph,
.wrapper--op-title-payment .paragraph,
.wrapper--op-title-delivery .paragraph,
.wrapper--op-title-total .paragraph{
  margin:0;
  color:var(--main-blackCustom);
  font-size:18px;
  font-weight:700;
  margin-bottom: 20.5px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.wrapper--op-title-customer .paragraph::before,
.wrapper--op-title-payment .paragraph::before,
.wrapper--op-title-delivery .paragraph::before,
.wrapper--op-title-total .paragraph::before{
  content:"";
  display:inline-block;
  vertical-align:text-bottom;
  width:20px;
  height:20px;
  margin-right:10px;
}
.wrapper--op-title-customer .paragraph::before{background:url(assets/images/icn-user-primary.png) center no-repeat;background-size: contain;}
.wrapper--op-title-payment .paragraph::before{background:url(assets/images/icn-price-primary.png) center no-repeat;background-size: contain;}
.wrapper--op-title-delivery .paragraph::before{background:url(assets/images/icn-shipping-primary.png) center no-repeat;background-size: contain;}
.wrapper--op-title-total .paragraph::before{background:url(assets/images/icn-myOrder-primary.png) center no-repeat;background-size: contain;}
.wrapper--op-bt-cart{
  width:100%;
  text-align:center;
}
.paragraph--op-bt-cart{margin:0;}
.link--op-bt-cart{
  display:block;
  color:var(--main-slateBlue1);
  font-size:14px;
  border:2px solid var(--main-slateBlue1);
  padding:20px;
  border-radius:30px;
  margin:10px 0;
  text-decoration:none;
  font-family: "Poppins";
  font-weight:700;
  line-height: 1;
  height: 60px;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: var(--main-slateBlue0);
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}