.orderPlacedMainWrapper {margin: 0 auto 20px;}
.orderPlacedWrapper{
    padding-top:0;
    margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--hifive) .orderDatetime{
    padding: 0 0 30px;
    text-align: center;
    color: var(--main-blackCustom);
    font-size: 14px;
    font-weight: 500;
}

.orderPlacedHeader .section--bank-invoice {display: none;}

.confirmationMessage{
    color: var(--main-slateBlue1);
    font-size:14px;
    font-weight: 400;
    text-align:left;
    line-height: 17px;
    padding:0 2rem;
    margin: 20px 0;
}
.orderNumber{
    color: var(--main-blackCustom);
    font-size:16px;
    font-weight:700;
    padding:0 1rem 10px;
}
.section--confirmation{
    margin-bottom:1rem;
}


.customerInfoListContainer,
.orderPaymentItem,
.packageShippingEstimate,
.packageSLA,
.addressContainer,
.productName,
.orderPaymentItem :global(.vtex-button) :global(.vtex-button__label){
    font-size:12px;
    color: var(--main-blackCustom);
    font-family: "Poppins";
}

.orderPaymentItem :global(.vtex-button) {
    border: none;
    width: 100%;
    border-radius: 30px;
    min-height: 60px;
}

.orderPaymentItem :global(.vtex-button) :global(.vtex-button__label) {color: #FFF;}

.packageAddressWrapper .addressContainer {max-width: 375px;}

.paymentGroup,
.packageDeliveryTitle{
    font-weight:700;
    margin-bottom:.5rem;
    margin-top:0;
}
.packageShippingEstimate,
.packageSLA,
.addressContainer,
.customerInfoListEmail,
.customerInfoListName,
.customerInfoListPhone {font-weight: 500;}
.customerInfoListEmail,
.customerInfoListName,
.customerInfoListPhone,
.paymentValue{
    font-size:12px;font-family: "Poppins";
    color: var(--main-blackCustom);
    padding: 0;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.customerInfoListEmail::before,
.customerInfoListName::before,
.customerInfoListPhone::before,
.packageAddressTitle{
    color:var(--main-slateBlue1);
    text-transform:uppercase;
    font-size:10px;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 15px;
    order: 2;
}
.customerInfoListName::after,
.customerInfoListEmail::after,
.customerInfoListPhone::after {
    content:" | ";
    padding: 0 10px;
    order: 1;
    color:var(--main-slateBlue1);
}
.customerInfoListName::before{content:"NOME";}
.customerInfoListEmail::before{content:"E-MAIL";}
.customerInfoListPhone::before{content:"TELEFONE";}
.section--paymentMethods,
.section--pickupPackages,
.section--deliveryPackages{border:0}
.orderPaymentItem{padding-bottom:0;width: 100%;margin: 0;}
.paymentGroup,
.paymentValue,
.packageDeliveryTitle{
    font-size:14px;
    font-weight:700;
    color: var(--main-blackCustom);
    font-family: "Poppins";

}
.orderPaymentItem :global(.vtex__icon-info),
.customerInfoListDocument,
.updateOrderButton{display:none;}
.package{margin:0;}
.packageAddressTitle{
    display:inline-block;
    vertical-align:top;
}
.packageAddressTitle{display: none;}
.package .productList{min-height: 60px;}
.productImageColumn{
    float:left;
    margin:10px 16px 20px 0;
}
.productImageWrapper{
    width:50px;
    height:50px;
}
.productInfoColumn,
.productPrice{
    text-align:left;
    line-height:1;
}
.productQuantity,
.productPrice{
    display:inline-block;
    color: var(--main-blackCustom);
    font-family: "Poppins";
    margin:0;
    font-size:12px;
    font-weight:700;
}
.productName{
    margin-bottom:10px;
    display:block;
    font-weight:500;
    line-height:13px;
}
.productPrice{
    float:right;
    margin:-12px 0 0 0;
}
.totalListItem--Shipping .totalListItemValue,
.totalListItem--Shipping .totalListItemLabel,
.totalListItem--Items .totalListItemValue,
.totalListItem--Items .totalListItemLabel{font-size:12px;font-family: "Poppins";}
.totalList,
.totalListItemValue,
.totalListItemLabel{
    font-family: "Poppins";
    margin:0;
    color:var(--main-slateBlue1);
    font-weight: 500;
}
.totalList .totalListItem:last-child
.totalListItemValue,
.totalList .totalListItem:last-child
.totalListItemLabel{font-size:14px;font-weight: 700;}
.myOrdersButton :global(.vtex-button),
.myOrdersButton :global(.vtex-button):focus,
.myOrdersButton :global(.vtex-button):hover{
    background: var(--main-pink);
    color:#fff;
    border-radius:30px;
    padding:20px;
    text-transform: none;
    font-size:14px;
    font-family: "Poppins";
    font-weight:700;
}
.myOrdersButton {
    font-family: "Poppins";
    color:var(--main-slateBlue1);
    font-size:14px;
    font-weight:700;
    margin-bottom: 0;
  }
.totalListItem{padding:.3rem 0;}


.package--delivery .productListItem {
    display: inline-block;
    margin: 0;
    border: none;
    padding: 0 0 10px 0;
}

.package--delivery .productListItem .productImageColumn {margin-bottom: 0;}


@media screen and (max-width: 639px) {
    .productImageColumn {margin: 0 16px 20px 0;}
    .productName {margin: 10px 0;}
}

@media screen and (min-width: 640px) {
    .orderPlacedWrapper{     
        max-width: 80vw;
    }
    .orderNumber,
    :global(.vtex-flex-layout-0-x-flexRow--op-order-options) :global(.vtex-store-components-3-x-container){padding: 0;}
    .orderPlacedMainWrapper {width: 100%;}
    .myOrdersButton {
        margin: 0;
        width: 100%;
    }
    :global(.vtex-flex-layout-0-x-flexRow--op-order-section) {margin-top: 0;}

    .packageAddressWrapper {width: 100%;display: block;}
    .package--delivery .productListItem {
        min-height: 60px;
        width: 100%;
        display: block;
    }
    .package--delivery .productListItem .productWrapper {position: relative;display: block;}
    .package--delivery .productListItem
    .productInfoColumn { 
        margin-top: 10px;
        display: inline-block;
        width: 85%; 
    }
    .package--delivery .productListItem
    .productInfoColumn .productPrice {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        width: 220px;
        margin: 0;
        text-align: right;
    }

}

@media screen and (min-width:1000px) {
    .package--delivery .productListItem
    .productInfoColumn { 
        width: 90%; 
    }
    .productInfoColumn,
    .productPrice,
    .totalListWrapper{display:block;}
    
}

@media screen and (min-width: 1024px) {
    .section--deliveryPackages
    .package.package--delivery {flex-direction: column;}
    .section--deliveryPackages
    .package.package--delivery
    .packageAddressWrapper,
    .section--deliveryPackages
    .productList {width: 100%;} 
    .section--deliveryPackages
    .productList .productWrapper {
        flex-flow: row wrap;
        position: relative;
    }
    .section--deliveryPackages
    .package.productList .productWrapper .productInfoColumn {width: 70%;}
    .section--deliveryPackages
    .package.productList .productWrapper
    .productPrice {
        position: absolute;
        top: 39px;
        left: 0;
        width: 95%;
        margin: 0;
        text-align: right;
    }
    .totalListWrapper
    .totalList {width: 100%;}
}