.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}
/* 
:global(.vtex-flex-layout-0-x-flexRowContent--h-login-header-mobile) .sizeMobile {
  max-width: 100px;
  max-height: 40px;
  min-width: 72px;
  display: flex;
  align-items: center;
  padding: 0;
} */

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: 700;
  font-size: 30px;
}

/*Header Account*/
:global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount) .logoLink {
  width: 110px;
  text-align: right;
}
:global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
  .imageElement--header-icnHelp-Zendesk {
  width: 20px;
}
.logoLink .logoContainer.logoContainer--header-logoMobile {
  padding: 0;
  max-height: 100%;
  display: block;
  margin: 0 0 0 auto;
}

/* @media screen and (min-width: 721px) { 
  .container {
    padding: 0;
  } 
} */

/*OrderPlaced*/
:global(.vtex-flex-layout-0-x-flexRow--op-order-section) .container {
  padding: 0;
}


@media screen and (min-width: 1025px) { 
  :global(.vtex-store-header-2-x-headerRowContainer--main-header) .logoLink .logoContainer {
    margin-left: 16px;
  }
  :global(.vtex-store-header-2-x-headerRowContainer--main-header) .logoLink .logoImage {
    max-width: 83px;
  }
}