/* add transitions */
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-logoLink),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-minicart-2-x-openIconContainer),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-searchBarContainer) {
  transition: all 0.3s ease;
  display: block;
}

/* desktop/mobile main header padding and background transitions */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  transition: background 0.3s ease;
  will-change: padding, background;
  padding: 10px 20px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  height: 76px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

/* main header desktop has a bigger padding when not stuck */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* add a box-shadow to desktop/mobile header when stuck */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

/*
 * remove the extra padding when stuck from the desktop header
 * we add a transition only when "stuck" for the "unstick" step seem faster
 */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  transition: padding 0.3s ease, background 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
}

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    backdrop-filter: blur(8px);
  }

  /* header background when stuck and not hovered */
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    padding: 10px 20px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    height: 76px;
  }
}

/* stick wrapper with the same color as the desktop/mobile header */
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: #fff;
}

/* resize the logo for neat effect 
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-store-components-3-x-logoLink) {
  transform: scale(0.85);
}
*/
@media (prefers-reduced-motion: reduce) {
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-logoLink),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-minicart-2-x-openIconContainer),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-searchBarContainer),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    transition: none;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--h-mainContent-orderPlaced) :global(.vtex-store-components-3-x-logoLink--header-logoMobile) {text-align: center;}
/* Header Desktop */
@media screen and (min-width: 640px) {
  .headerRowBackground.headerRowBackground--DesktopHeader-mainWrapper-Content {
    background: var(--grad-slateBlue2);
  }
  .headerRowBackground.headerRowBackground--DesktopHeader-mainWrapper-Content
    .headerRowContainer--DesktopHeader-mainWrapper-Content {
    height: 70px;
    padding: 30px 25px 30px 35px;
    max-width: 1592px;
    width: 100%;
    margin: 0 auto;
  }
  :global(.vtex-store-components-3-x-logoLink--logo-headerDesktop)
    :global(.vtex-store-components-3-x-logoContainer--logo-headerDesktop) {
    padding: 0;
  }
  :global(.vtex-store-link-0-x-link--Desktop-headerLink-icnHelp-Zendesk)
    :global(.vtex-store-components-3-x-imageElement--desktopHeader-icnHelp-Zendesk) {
    height: 100%;
    display: block;
  }
  :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: var(--main-blackCustom);
  }
  
}


@media screen and (max-width: 1025px) {
  .headerRowContainer.headerRowContainer--main-header-mobile {
    min-height: 70px;
    padding: 25px 30px;
    align-items: center;
  }

}
@media screen and (min-width: 1026px) {
  .headerRowContainer.headerRowContainer--main-header {
    min-height: 70px;
    padding: 25px 30px;
    align-items: center;
  }

}
