/*font iframes*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
:root {
  --main-pink: #fa5e68;
  --main-pink2: #fc8089;
  --main-pink3: #fda3aa;
  --main-pink4: #ffc5cb;
  --main-slateBlue0: #2b2b63;
  --main-slateBlue1: #3e3e93;
  --main-slateBlue2: #52529f;
  --main-slateBlue3: #6666ab;
  --main-slateBlue4: #7a7ab7;
  --main-slateBlue5: #8e8ec3;
  --main-slateBlue6: #a2a2cf;
  --main-borderInput-slateBlue7: #b6b6db;
  --main-slateBlue8: #cacae7;
  --main-blackCustom: #0d0c23;
  --sup-orangeYellow: #f2ba0c;
  --sup-paleSilver: #c4b1a5;
  --sup-turquoise: #20d6b7;
  --sup-indigoDye: #1b426b;
  --grad-pink: linear-gradient(180deg, #fb848c 0%, #f67b84 42%, #ec6673 99%);
  --grad-slateBlue: linear-gradient(
    90deg,
    #6e6eae 0%,
    #6565a9 29%,
    #4b4b9a 78%,
    #3e3e93 99%
  );
  --grad-slateBlue2: linear-gradient(
    180deg,
    #f9f9ff 87.41%,
    rgba(249, 249, 255, 0) 100%
  );
}
body {
  touch-action: pan-y;
  pointer-events: visible;
}
:global(.t-mini),
:global(.t-small) {
  font-family: "Poppins";
}
.userImage svg {
  opacity: 0;
}
div .userInfo {
  max-width: 320px;
  margin: 0 auto 30px;
  align-items: flex-end;
  justify-content: flex-start;
  -webkit-box-align: end;
  flex-flow: row nowrap;
  height: 64px;
}
.userImage {
  background: url(assets/svg/ic-placeholder-avatar.svg) no-repeat;
  background-origin: padding-box;
  background-position: bottom center;
  margin: 0 20px 0 10px;
  width: 50px;
  height: 50px;
}
div .userGreeting,
.menuLinks div div a[href="#/subscriptions"] {
  display: none;
}
div .userName {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

nav.menuLinks {
  max-width: 320px;
  margin: 0 auto;
  font-weight: 700;
  display: flex;
  flex-direction: column-reverse;
}
.menu {
  background: var(--main-pink);
  padding: 25px 50px 0;
}
.menuLinks div {
  display: flex;
  flex-direction: column;
}
.menuLink:hover {
  color: #fff;
}
.menuLinks div div:nth-child(1) {
  order: 1;
}
.menuLinks div div:nth-child(2) {
  order: 4;
}
.menuLinks div div:nth-child(3) {
  order: 3;
}
.menuLinks div div:nth-child(4) {
  order: 2;
}
.menuLinks div div:first-child {
  border-top: 1px solid #fff;
  padding-top: 15px;
}
.menuLinks div div a[href="#/profile"],
.menuLinks div div a[href="#/addresses"],
.menuLinks div div a[href="#/orders"],
.menuLinks div div a[href="#/cards"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 0 0 10px;
  padding: 20px;
  max-width: 375px;
  width: 100%;
  height: 57px;
  border-radius: 30px;
  color: var(--main-slateBlue1);
  font-size: 14px;
  line-height: 17px;
}
.menuLinks div div a[href="#/profile"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(assets/svg/icn-idCard-identity-primary.svg) no-repeat;
  background-origin: padding-box;
  background-position: bottom center;
}
.menuLinks div div a[href="#/addresses"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(assets/svg/icn-shipping-primary.svg) no-repeat;
  background-origin: padding-box;
  background-position: bottom center;
}
.menuLinks div div a[href="#/orders"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(assets/svg/icn-my-order-primary.svg) no-repeat;
  background-origin: padding-box;
  background-position: bottom center;
}

.menuLinks div div a[href="#/cards"]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(assets/svg/icn-credit-card-primary.svg) no-repeat;
  background-origin: padding-box;
  background-position: bottom center;
}

@media screen and (max-width: 720px) {
  .menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 999;
  }
}

/*Header account mobile*/
:global(.vtex-account__page) {
  height: 100%;
}
header div button div span {
  display: none;
}
header div button div svg {
  opacity: 0;
}

:global(.vtex-account__page-body):global(.vtex-my-account-1-x-addressEdit)
  .boxContainerBody {
  padding: 20px 0;
}
:global(.vtex-account__page-body) {
  margin: 0;
  padding: 0 25px;
}
.boxContainer {
  border: none;
  background: #fff;
  border-radius: 20px;
}

.profile .boxContainerBody {
  padding: 20px 20px 0;
}
.profileEdit .boxContainerBody {
  padding: 20px 0 0;
}

.profileEdit .boxContainer,
:global(.vtex-account__page-body):global(.vtex-my-account-1-x-addressEdit)
  .boxContainer {
  background: transparent;
}
.boxContainerBody {
  padding: 20px;
}
.firstNameSubContainer,
.lastNameSubContainer,
.emailContainer,
.genderContainer,
.documentsSubContainer,
.genderSubContainer,
.phoneNumberContainer,
.dateOfBirthSubContainer,
.phoneNumberSubContainer,
.corporateName,
.tradeName,
.corporateDocument,
.businessPhoneContainer,
.businessPhoneSubContainer,
.stateRegistration,
:global(.vtex-account__page-body).profile
  :global(.vtex-profile-form-3-x-profileSummary)
  div:last-child
  :global(.mb8) {
  margin-bottom: 10px;
}

.boxContainerBody
  :global(.vtex-profile-form-3-x-profileSummary)
  div:last-child:not(.dataEntryChildren):not(.lastNameSubContainer),
.boxContainerBody
  :global(.vtex-profile-form-3-x-profileSummary)
  div:last-child.phoneNumberSubContainer {
  margin-bottom: -4px;
}

.dataEntryLabel {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

.dataEntryChildren {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-blackCustom);
}

.boxContainerFooter {
  padding: 0 0 9px;
}

.boxContainerFooter button {
  text-transform: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  color: var(--main-pink);
}

.newsletterBoxContainer :global(.pb5.pr5-ns.flex-auto) {
  padding: 10px 0 10px 10px;
}
.newsletterBoxContainer .boxContainer {
  background: transparent;
}
.newsletterBoxContainer .boxContainerBody {
  padding: 0;
}

.newsletterContainerTitle {
  display: none;
}
.newsletterContainerMessage {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--main-blackCustom);
  padding: 0 0 34px 10px;
}

.newsletterBoxContainer .boxContainerBody label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-blackCustom);
}

.newsletterBoxContainer
  .boxContainerBody
  .passwordBox
  :global(.vtex-checkbox__line-container) {
  align-items: center;
}

.boxContainerBody form div div label span,
:global(.vtex-input__label),
:global(.vtex-dropdown__label) {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}
.boxContainerBody form div div {
  padding-bottom: 10px;
}
.boxContainerBody form div div label div {
  padding-bottom: 0;
}
.boxContainerBody form div div label div input,
.profile
  .boxContainerBody
  :global(.mb7.mt4)
  :global(.vtex-input-prefix__group) {
  padding: 16px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: var(--main-blackCustom);
}
:global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-dropdown) :global(.b--light-gray) {
  border: none;
}
.profileEdit :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
  display: none;
}
.profile .boxContainerBody button {
  width: 100%;
}
.profile .boxContainerBody button,
.profile .boxContainerBody :global(.pt4.flex.justify-center) {
  min-height: 60px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  color: #ffffff;
  text-transform: capitalize;
  background: var(--main-slateBlue1);
  border-radius: 30px;
  border: none;
  padding-top: 0;
  margin-bottom: 20px;
}
.profile
  .boxContainerBody
  :global(.vtex-alert)
  :global(.flex.items-start.flex-grow-1.pv3) {
  align-items: center;
  padding: 0;
}
.profile .boxContainerBody :global(.vtex-alert__close-icon) {
  min-height: max-content;
  padding: 0;
  line-height: normal;
  background: transparent;
  color: var(--main-slateBlue1);
  width: auto;
}
.profile .boxContainerBody :global(.t-heading-6.tc.pb4) {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-slateBlue1);
  text-transform: capitalize;
  border: none;
}
.boxContainerBody :global(.mb7) :global(.f6) :global(.flex.mb5),
.boxContainerBody :global(.mb7) :global(.f6) div:last-child {
  flex-direction: column;
  margin-bottom: 0;
}
.boxContainerBody :global(.mb7) :global(.f6) :global(.flex.mb5) div:last-child,
.boxContainerBody :global(.mb7) :global(.f6) :global(.flex) div:last-child,
.boxContainerBody :global(.mb7) :global(.f6) :global(.flex) :global(.w-50) {
  flex-direction: row;
  width: 100%;
  margin: 2px 0;
}
.boxContainerBody :global(.mb7) :global(.f6) :global(.flex) div div {
  width: 25px !important;
}
:global(.vtex-address-form__country)
  :global(.vtex-dropdown)
  :global(.vtex-dropdown__button),
:global(.vtex-dropdown) :global(.vtex-dropdown__button) {
  padding: 16px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Poppins" !important;
}
:global(.vtex-dropdown) label div:hover,
:global(.vtex-dropdown__label) :global(.hover-b--silver):focus,
:global(.vtex-dropdown__label) :global(.hover-b--silver):hover {
  border: none !important;
}
.profileFormBoxContainer :global(.pb5.pr5-ns.flex-auto.mw6-ns) {
  padding-bottom: 8px;
}
.profileFormBoxContainer
  :global(.vtex-dropdown)
  :global(.vtex-dropdown__button) {
  padding: 12px 16px;
}
:global(.vtex-dropdown)
  :global(.vtex-dropdown__button)
  :global(.vtex-dropdown__caption),
:global(.vtex-dropdown)
  :global(.vtex-dropdown__button)
  :global(.vtex-dropdown__arrow) {
  height: max-content;
  line-height: normal;
}
:global(.vtex-dropdown) label div:global(.bg-white) {
  background-color: transparent;
}
:global(.vtex-dropdown__arrow) svg {
  opacity: 0;
}
:global(.vtex-dropdown__arrow) {
  background: url(assets/svg/icn-arrow-down-default.svg) no-repeat;
  background-position: right center;
  display: block;
}

.boxContainerBody :global(.vtex-button) {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  min-height: 60px;
  color: #ffffff;
  text-transform: capitalize;
  background: var(--main-slateBlue1);
  border-radius: 30px;
  border: none;
}
:global(select) {
  font-family: "Poppins" !important;
}
:global(.vtex-button_label) {
  font-style: normal;
}
.boxContainerBody form button:not(.mb7) {
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 60px;
  background: var(--main-slateBlue1);
  color: #fff;
  font-weight: 700;
  font-family: "Poppins";
  font-size: 14px;
}
.boxContainerBody form button:not(.mb7) div {
  color: #fff;
  font-weight: 700;
  font-family: "Poppins";
  font-size: 12px;
}

/*endereços*/
:global(.vtex-pageHeader__children) button {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  min-height: 60px;
  line-height: 17px;
  color: #ffffff;
  text-transform: capitalize;
  background: var(--main-slateBlue1);
  border-radius: 30px;
  border: none;
}

.addressList .addressBox .boxContainerBody {
  padding: 16px 20px 20px;
}
.addressList
  .addressBox
  .boxContainerBody
  :global(.lighter.c-muted-2.lh-copy.pv4.w5.h4) {
  padding-top: 0;
}

.addressCreate :global(.vtex-address-form__field--mini),
.addressCreate :global(.vtex-address-form__field--xlarge),
.addressCreate :global(.vtex-address-form__field--large) {
  padding-bottom: 10px;
}
.addressCreate :global(.vtex-dropdown) :global(.vtex-dropdown__button) {
  height: 45px;
}
.addressCreate
  :global(.vtex-dropdown__button)
  :global(.vtex-dropdown__caption.flex-auto.tl.truncate.h-100):global(.flex) {
  font-size: 12px;
  font-weight: 500;
}
.addressBox {
  display: block;
}
:global(.vtex-my-account-1-x-addressList) div :global(.w-80.w-60-l.center.tc) {
  margin: 172px auto;
  max-width: 195px;
}
.addressBox .boxContainer main {
  padding-bottom: 0;
  max-height: 110px;
}
.addressBox :global(.pb5.pr5-ns.flex-none) {
  margin: 0 !important;
  max-width: 100%;
}

.addressBox div article main div :global(.address-summary) span {
  color: var(--main-blackCustom);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}
.addressBox div article main div div span:global(.country) {
  display: none;
}
.addressBox div article main div div span span:global(.street):before {
  content: "Endereço |";
  display: inline-flex;
  width: 65px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

.addressBox div article main div div span span:global(.complement) {
  display: none;
}
.addressBox div article main div div span span:global(.neighborhood):before {
  content: "Cidade |";
  display: inline-flex;
  width: 50px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}
.addressBox div article main div div span span:global(.postalCode):before {
  content: "CEP |";
  display: inline-flex;
  width: 30px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

:global(.vtex-address-form__postalCode) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}
:global(.vtex-address-form__postalCode-forgottenURL) {
  padding: 0;
  height: 100%;
  display: block;
}
:global(.vtex-address-form__postalCode) label {
  width: 50%;
}

:global(.vtex-address-form__postalCode) div a span:global(.ml2),
:global(.vtex-address-form__postalCode)
  div
  a
  span:global(.ml2)
  :global(.vtex__icon-external-link) {
  display: none;
}

.passwordBoxContainer .boxContainerBody :global(.vtex-input-prefix__group) {
  padding: 16px;
  height: 45px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);
}
.passwordBoxContainer :global(.vtex-input-prefix__group) input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);

  background: transparent;
  height: 100%;
  min-height: 12px;
  width: 100%;
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.addressCreate
  :global(.vtex-address-form-4-x-dropdown.vtex-dropdown)
  :global(.vtex-address-form-4-x-container),
:global(.vtex-address-form__country)
  :global(.vtex-address-form-4-x-dropdown.vtex-dropdown)
  :global(.vtex-address-form-4-x-container) {
  height: 100%;
  border: none;
}
:global(.vtex-address-form__postalCode)
  :global(.vtex-input-prefix__group)
  input,
:global(.vtex-address-form__postalCode)
  :global(.vtex-input-prefix__group)
  span {
  background: #fff;
  padding: 0;
}

:global(.vtex-address-form__country)
  :global(.vtex-dropdown)
  :global(.vtex-dropdown__button) {
  padding: 8px 16px;
  display: block;
  width: 100%;
  max-width: 375px;
  height: 45px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Poppins" !important;
  color: var(--main-blackCustom);
}

.addressEdit .boxContainerBody :global(.address-summary),
.addressCreate .boxContainerBody :global(.address-summary) {
  margin: 20px auto 0 auto;
  padding: 0 25px 0 11px;
  position: relative;

  min-height: 40px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 0 5px;
  width: 85%;
}

.addressEdit .boxContainerBody :global(.address-summary):before,
.addressCreate .boxContainerBody :global(.address-summary):before {
  display: inline-flex;
  content: "";
  background: url(assets/svg/ic-location.svg) no-repeat;
  background-position: bottom center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -30px;
}
.addressEdit .boxContainerBody :global(.address-summary) span,
.addressCreate .boxContainerBody :global(.address-summary) span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);
}
.addressEdit .boxContainerBody :global(.address-summary) span:global(.c-link),
.addressCreate
  .boxContainerBody
  :global(.address-summary)
  span:global(.c-link) {
  color: var(--main-pink);
  font-size: 12px;
  text-decoration: underline;
  font-weight: 600;
  padding-bottom: 2px;
}

.addressEdit .boxContainerBody :global(.mb7) {
  margin-bottom: 20px;
}
.addressCreate .boxContainerBody :global(.mb7) {
  margin-bottom: 15px;
}
.addressEdit .boxContainerBody button {
  padding: 20px;
  width: 100%;
  height: 60px;
  background: var(--main-slateBlue1);
  border-radius: 30px;
  border: none;
}
.addressEdit .boxContainerBody button div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 0 !important;
}

.addressEdit .boxContainerBody div button {
  padding: 20px;
  height: 60px;
  background: var(--main-pink);
  border: none;
}

:global(.vtex-address-form__field--small)
  :global(.vtex-input-prefix__group)
  input,
:global(.vtex-address-form__neighborhood)
  :global(.vtex-input-prefix__group)
  input,
:global(.vtex-address-form__city) :global(.vtex-input-prefix__group) input,
:global(.vtex-address-form__complement)
  :global(.vtex-input-prefix__group)
  input,
:global(.vtex-address-form__number) :global(.vtex-input-prefix__group) input,
:global(.vtex-address-form__receiverName)
  :global(.vtex-input-prefix__group)
  input {
  background: #fff;
  height: 100%;
  /* padding: 10px 0; */
}
:global(.vtex-input-prefix__group) span:global(.vtex-input__suffix) {
  background: #fff;
}

:global(.vtex-address-form__postalCode) :global(.vtex-input-prefix__group),
.addressEdit
  :global(.vtex-address-form__container)
  :global(.vtex-input-prefix__group) {
  padding: 8px 16px;
  height: 27px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: content-box;
  border-radius: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);
}
:global(.vtex-address-form__container)
  :global(.vtex-input-prefix__group)
  input {
  background: #fff;
  height: 100%;
  padding: 10px 0;
  box-sizing: content-box;
}

:global(.vtex-address-form__postalCode) div a {
  display: flex;
  align-items: center;
  text-align: center;
  height: 50px;
  margin: 0;
  position: relative;
  left: 0;
  padding: 15px 16px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--main-blackCustom);
}
:global(.vtex-my-account-1-x-addressCreate)
  :global(.vtex-address-form__complement)
  :global(.vtex-input-prefix__group),
:global(.vtex-my-account-1-x-addressCreate)
  :global(.vtex-address-form__street)
  :global(.vtex-input-prefix__group),
:global(.vtex-my-account-1-x-addressCreate)
  :global(.vtex-address-form__neighborhood)
  :global(.vtex-input-prefix__group),
:global(.vtex-my-account-1-x-addressCreate)
  :global(.vtex-address-form__city)
  :global(.vtex-input-prefix__group),
:global(.vtex-my-account-1-x-addressCreate)
  :global(.vtex-address-form__receiverName)
  :global(.vtex-input-prefix__group),
:global(.vtex-my-account-1-x-addressCreate)
  :global(.vtex-address-form__number)
  :global(.vtex-input-prefix__group) {
  align-items: center;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7) !important;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 8px 16px;
  height: 45px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);
}

.addressCreate .boxContainer {
  background: transparent;
}
.addressCreate .boxContainerBody {
  padding: 0;
  margin-top: -15px;
}
.addressCreate .boxContainerBody button {
  margin-top: 10px;
  margin-bottom: 42px;
  padding: 20px;
  width: 100%;
  height: 60px;
  background: var(--main-slateBlue1);
  border-radius: 30px;
  border: none;
}
.addressEdit .boxContainerBody > button div,
.addressCreate .boxContainerBody button div {
  font-family: "Poppins";
  color: #fff;
  font-weight: 700;
  font-size: 0;
}
.addressEdit .boxContainerBody > button div::after,
.addressCreate .boxContainerBody button div::after {
  content: "Salvar";
  position: relative;
  display: block;
  width: 47px;
  height: 17px;

  font-family: "Poppins";
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
}

:global(.vtex-input-prefix__group) input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);
}

.addressEdit
  :global(.vtex-address-form__container)
  :global(.vtex-input-prefix__group)
  input {
  padding: 0;
}
.addressEdit .boxContainerBody :global(.vtex-address-form__country),
.addressEdit
  :global(.vtex-address-form__container)
  :global(.vtex-address-form__complement) {
  padding-bottom: 10px;
}

/*Cartões*/
html[lang="en"] :global(.mb6) {margin-bottom: 10px;}
html[lang="en"] :global(.pb6) { padding-bottom: 10px;}
html[lang="en"] :global(.mt5) { margin-top: 10px;}
html[lang="en"] :global(.pb7) { padding-bottom: 10px;}
:global(.vtex-account__page)
  :global(.vtex-account__cards-list)
  div
  div
  span
  span {
  font-size: 0;
}
:global(.vtex-account__cards-list) div div span span:after {
  content: "Você não tem nenhum cartão de crédito cadastrado.";
  display: block;
  position: relative;
  top: -30px;
  width: 251px;
  margin: 0 auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--main-slateBlue1);
}

:global(#root) :global(form) {
  margin-bottom: 10px;
}
:global(.vtex-account__cards-list) div :global(.w-80.w-60-l.center.tc) {
  width: 100%;
  margin: 0 auto;
  height: 34px;
}
:global(.vtex-account__cards-list) div div span span,
.addressList div div :global(.t-heading-4.mt0) {
  color: var(--main-slateBlue1);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  max-width: 139px;
}
:global(#root) :global(label.vtex-input) :global(.vtex-input-prefix__group) {
  padding: 16px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
:global(#root)
  :global(label.vtex-input)
  :global(.vtex-input-prefix__group)
  input {
  color: var(--main-blackCustom);
  font-family: "Poppins", Arial;
  padding: 0;
  height: 20px;
  width: 100%;
  background: #ffffff;
  display: block;
}

:global(#root) :global(form) div hr {
  opacity: 0;
}
:global(#root) :global(form) div :global(.t-heading-4) span {
  font-family: "Poppins", Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--main-blackCustom);
}
:global(#root) :global(.vtex-address-form__postalCode) {
  padding-bottom: 20px;
}
:global(#root) :global(.vtex-address-form__postalCode) :global(.pt4.flex-none) {
  width: 50%;
}
:global(.vtex-radio__fakeRadioContainer) :global(.b--muted-4) {
  border: 2px solid var(--main-slateBlue1);
}
:global(.vtex-radio__fakeRadioContainer) :global(.b--action-primary) {
  border: 2px solid var(--main-slateBlue1);
}
:global(.vtex-radio__fakeRadioContainer) :global(.bg-action-primary) {
  background-color: var(--main-pink);
}
:global(#root) :global(form) div :global(.vtex-radioGroup) fieldset {
  width: 95%;
  margin: 0 auto;
  display: block;
}
:global(#root)
  :global(form)
  div
  :global(.vtex-radio)
  :global(.vtex-radio__label.c-on-base.pointer.flex.flex-auto) {
  color: var(--main-blackCustom);
  font-family: "Poppins";
  font-size: 14px;
  line-height: normal;
  width: 100%;
  display: block;
}
:global(#root) form div:global(.overflow-y-auto) {
  max-height: 15rem !important;
}
:global(#root)
  :global(form)
  div
  :global(.vtex-radioGroup)
  fieldset
  label
  div
  :global(.vtex-radio) {
  align-items: center;
}
:global(#root) :global(form) div div:nth-child(8) button,
:global(#root) :global(form) div :global(.flex.mt5) :global(.ml5) button {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: block;
  border: 2px solid var(--main-slateBlue1);
  border-radius: 30px;
}
:global(#root)
  :global(form)
  div
  :global(.mt5)
  button
  :global(.vtex-button__label) {
  font-family: "Poppins", Arial;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-slateBlue1);
}
:global(#root) :global(form) div :global(.flex.mt5) {
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}
:global(#root) :global(form) div :global(.flex.mt5) button {
  background-color: var(--main-slateBlue1);
  border-color: var(--main-slateBlue1);
  width: 100%;
  border-radius: 30px;
  height: 60px;
}
:global(#root)
  :global(form)
  div
  :global(.flex.mt5)
  button
  :global(.vtex-button__label) {
  color: #fff;
}
:global(#root) :global(form) div :global(.flex.mt5) :global(.ml5) {
  margin: 0;
  width: 100%;
}
:global(#root) :global(form) div :global(.flex.mt5) :global(.ml5) button {
  background-color: transparent;
}
:global(#root) :global(form) div :global(.flex.mt5) :global(.ml5) button div {
  color: var(--main-slateBlue1);
}

:global(#root) :global(form) div div:global(.mb7):nth-child(7) button {
  width: 100%;
  min-height: 60px;
  background-color: var(--main-slateBlue1);
  border-radius: 30px;
}
:global(#root) :global(form) div div:global(.mb7):nth-child(7) button div {
  font-family: "Poppins", Arial;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}
:global(#root)
  :global(form)
  :global(.vtex-input)
  :global(.vtex-input__help-text.c-muted-1.t-small.mt3.lh-title),
:global(#root) :global(form) div div:nth-child(7) button div span {
  display: none;
}
:global(#root) :global(.vtex-address-form__country) :global(.vtex-dropdown) :global(.vtex-dropdown__container):global(.b--muted-4),
:global(#root) :global(.vtex-address-form__state) :global(.vtex-dropdown) :global(.vtex-dropdown__container):global(.b--muted-4)  {border: none;}

:global(#root) :global(.vtex-dropdown) :global(.vtex-dropdown__button) {
  padding: 8px 16px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: 1px solid var(--main-borderInput-slateBlue7);
  color: var(--main-blackCustom);
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Poppins" !important;
}

:global(#root) :global(form) div :global(.mt5) [role*="alert"] {
  background: var(--main-slateBlue8);
  border-radius: 30px;
}
:global(#root)
  :global(form)
  div
  :global(.mt5)
  [role*="alert"]
  [class*="c-warning"] {
  color: var(--sup-orangeYellow);
}

:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer) {
  width: 100%;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  position: relative;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  main {
  padding: 0 0 10px;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  footer {
  padding: 0 0 5px;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  main
  div
  div
  label {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--main-blackCustom);
  margin-bottom: 10px;
  margin-top: 10px;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  main
  div
  div
  div
  div
  div {
  margin-right: 19px;
}

:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  main
  div
  div
  div
  div
  span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  color: var(--main-blackCustom);
}

:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  footer
  button:hover {
  border: none;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  footer
  button {
  background: url(assets/svg/ic-exit.svg) no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
}
:global(.vtex-my-cards-1-x-paymentsList)
  :global(.vtex-my-cards-1-x-boxContainer)
  article
  footer
  button
  div {
  opacity: 0;
}

/*Pedidos*/
:global(.vtex-account__page-body):global(.vtex-account__order-details) {
  display: block;
  height: 100%;
}
:global(.vtex-account__page-body):global(.vtex-account__orders-list) {
  margin-top: 25px;
}
:global(.vtex-account__orders-list) :global(.vtex-my-orders-app-3-x-orderCard) {
  margin-bottom: 24px;
  margin-top: 0;
  border: none;
  padding: 16px;
  border-radius: 20px;
  background: #fff;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderHeader),
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody) {
  padding: 0;
  background: transparent;
  border: none;
}

:global(.vtex-account__orders-list) div div div span :global(.c-on-base) {
  color: var(--main-slateBlue1);
  font-weight: 700;
  font-size: 16px;
  font-family: "Poppins";
  max-width: 150px;
  display: block;
  margin: 175px auto;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderHeader)
  :global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--main-slateBlue1);
  text-transform: capitalize;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderHeader)
  :global(.vtex-my-orders-app-3-x-orderHeaderValue) {
  font-family: "Poppins";
  margin-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-blackCustom);
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderId) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: var(--main-blackCustom);
  padding: 16px 0;
  margin-bottom: 0;
  text-align: left;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  :global(.bg-muted-1) {
  width: auto;
  height: 40px;
  padding: 10px 16px 12px;
  background-color: #fff;
  border: 1px solid var(--main-pink);
  border-radius: 10px;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  div
  span {
  font-family: "Poppins";
  color: var(--main-pink);
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 130%;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  :global(.bg-warning) {
  width: auto;
  height: 40px;
  padding: 10px 16px 12px;
  background-color: #fff;
  border: 1px solid var(--main-pink);
  border-radius: 10px;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  :global(.bg-danger) {
  width: auto;
  height: 40px;
  padding: 10px 16px 12px;
  background-color: var(--main-pink);
  border: 1px solid var(--main-pink);
  border-radius: 10px;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  div
  span:global(.c-on-danger) {
  color: #fff;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  :global(.bg-success) {
  width: auto;
  height: 40px;
  padding: 10px 16px 12px;
  background-color: #fff;
  border: 1px solid var(--sup-turquoise);
  border-radius: 10px;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  div
  :global(.fl.mt3.mt0-ns.w-25-ns.w-100-s)
  div:last-child
  :global(.bg-success)
  span {
  font-family: "Poppins";
  color: var(--sup-turquoise);
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 130%;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  div:first-child {
  display: none;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.cf.fr.db.w-100.w-30-ns.pt0-xl.pt5) {
  padding-top: 20px;
  border-top: 1px solid #f0f0f0;
  margin-top: 20px;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-invoiceBtn),
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-reorderBtn),
:global(.vtex-account__order-details) div div ul li a {
  width: 100%;
  padding: 20px;
  height: 60px;
  border: 2px solid var(--main-slateBlue1);
  color: var(--main-slateBlue1);
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  justify-content: space-between;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-invoiceBtn)
  svg,
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  svg {
  opacity: 0;
  display: none;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-invoiceBtn)::before,
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  a
  button::before {
  display: inline-flex;
  content: "";
  background: url(assets/images/ic-cod-bar.png) no-repeat;
  width: 16px;
  height: 16px;
}
:global(.myo-font) {
  font-family: "Poppins";
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-reorderBtn)
  span {
  width: 100%;
  text-align: right;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-cancelBtn) {
  display: none;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-detailsBtn) {
  padding: 20px;
  background: var(--main-slateBlue1);
  border-radius: 30px;
  margin: 10px 0px 0;
}
:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-detailsBtn)
  span {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
}

:global(.vtex-account__orders-list)
  :global(.vtex-my-orders-app-3-x-orderCard)
  :global(.vtex-my-orders-app-3-x-orderBody)
  :global(.vtex-my-orders-app-3-x-reorderBtn)::before,
:global(.vtex-account__order-details) div div ul li:first-child a::before {
  display: inline-flex;
  content: "";
  background: url(assets/svg/ic-buy-again.svg) no-repeat;
  width: 18px;
  height: 16px;
}
:global(.vtex-account__order-details) div div time {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}
:global(.vtex-account__order-details) div div time div {
  background: #fff;
  padding: 12px 16px;
  margin: 20px 0 0;
  border: 1px solid var(--main-pink);
  border-radius: 10px;
}

:global(.vtex-account__order-details) div div time div span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-pink);
}

:global(.vtex-account__order-details) div div ul {
  margin-top: 40px;
}
:global(.vtex-account__order-details) div div ul li a svg {
  opacity: 0;
}
:global(.vtex-account__order-details) div div ul li a:global(.link) {
  text-decoration: none;
  color: var(--main-slateBlue1);
  font-style: normal;
  font-weight: 700;
}
:global(.vtex-account__order-details) div div ul li a span {
  padding: 0;
  color: var(--main-slateBlue1);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
:global(.vtex-account__order-details) div div ul li:last-child a::before {
  display: inline-flex;
  content: "";
  background: url(assets/svg/ic-exit.svg) no-repeat;
  background-size: 15px;
  width: 16px;
  height: 16px;
}
:global(.vtex-account__order-details) div section article {
  margin-bottom: 10px;
}

:global(.vtex-account__order-details) div section article section {
  background: #fff;
  border: none;
  padding: 20px;
  margin: 10px 0;
  border-radius: 20px;
  max-height: 185px;
}

:global(.vtex-account__order-details) div section article section h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: var(--main-slateBlue1);
  letter-spacing: normal;
  text-transform: capitalize;
}
:global(.vtex-account__order-details)
  div
  section
  article
  section
  div:global(.lh-copy.f6)
  strong {
  font-family: "Poppins";
  color: var(--main-blackCustom);
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
:global(.vtex-account__order-details) div section article section hr,
:global(.vtex-account__order-details) span:global(.country) {
  display: none;
}
:global(.vtex-account__order-details) div section article section div strong {
  color: var(--main-slateBlue1);
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
:global(.vtex-account__order-details) :global(.address-summary) span {
  font-size: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}
:global(.vtex-account__order-details) span:global(.street):before,
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.street)::before {
  content: "Endereço |";
  display: inline-flex;
  width: 60px;
  height: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}

:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.number) {
  display: inline-block;
  width: 25px;
}
:global(.vtex-account__order-details) span:global(.neighborhood):before,
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.city)::before {
  content: "Cidade |";
  display: inline-flex;
  width: 48px;
  height: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.city),
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.postalCode) {
  display: inline-block;
}
:global(.vtex-account__order-details) span:global(.postalCode):before,
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.postalCode)::before {
  content: "CEP |";
  display: inline-flex;
  width: 35px;
  height: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-slateBlue1);
}
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer),
:global(.vtex-order-placed-2-x-section--paymentMethods)
  :global(.vtex-order-placed-2-x-orderPaymentItem)
  :global(.t-body.lh-solid) {
  width: 100%;
}
:global(.vtex-account__order-details) div section article section div span img {
  opacity: 0;
}
:global(.vtex-account__order-details)
  div
  section
  article
  section
  div
  div
  :global(.dib),
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  div
  span,
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  div
  div
  section,
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.country),
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.line1-delimiter),
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.line2-delimiter),
:global(.vtex-order-placed-2-x-addressContainer)
  :global(.neighborhood-delimiter-after),
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  a
  button
  svg {
  display: none;
}
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  div
  div:last-child {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  a
  button {
  border: none;
  background: transparent;
  box-shadow: none !important;
}
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  a {
  width: 100%;
  padding: 0;
  height: 50px;
  border: 2px solid var(--main-slateBlue1);
  color: var(--main-slateBlue1);
  border-radius: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(2)
  section
  a
  span {
  color: var(--main-slateBlue1);
  font-size: 12px;
}

:global(.vtex-account__order-details) :global(.myo-progress-bar) {
  background: #fff;
  border: none;
  border-radius: 10px;
  height: 315px;
  padding: 0 20px 0;
}

:global(.vtex-account__order-details) :global(.myo-progress-bar) span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--main-blackCustom);
  letter-spacing: normal;
  text-transform: capitalize;
}
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(3)
  section
  div:nth-child(2)
  div,
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(3)
  section
  div:nth-child(3)
  div {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--main-slateBlue1);
  padding-bottom: 5px;
}
:global(.vtex-account__order-details)
  div
  section
  article:nth-child(3)
  section
  div:last-child
  div {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  color: var(--main-slateBlue1);
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar) {
  height: 200px;
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  :global(.myo-progress-bar__mobile-text) {
  display: none;
}

:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  :global(.myo-progress-bar__text) {
  display: block;
}

:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  :global(.myo-progress-bar__line) {
  transform: rotate(90deg) translate(0, 140px);
  display: block;
  width: 35px;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: var(--main-pink);
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__circle),
:global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__ma-inner-circle) {
  transform: translate(-140px, 0);
  background: var(--main-pink);
  border: transparent;
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__ma-inner-circle)::before {
  background: var(--main-pink);
  border: none;
  left: -2px;
  top: -1px;
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__circle)
  :global(.myo-progress-bar__subtitle) {
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  width: 295px;
  left: 32px;
  display: block;
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__circle)
  :global(.myo-progress-bar__subtitle)
  span,
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__highlighted-circle):global(.myo-progress-bar__subtitle)
  span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  color: var(--main-blackCustom);
}
:global(.vtex-account__order-details)
  :global(.myo-progress-bar)
  div
  :global(.myo-progress-bar)
  div:last-child
  :global(.myo-progress-bar__highlighted-circle):global(.myo-progress-bar__subtitle) {
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  width: 295px;
  left: -103px;
  display: block;
}
/*pacote*/
:global(.vtex-account__order-details) div div:last-child div div h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
:global(.vtex-account__order-details)
  div
  div:last-child
  div
  div
  span:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-blackCustom);
}
:global(.vtex-account__order-details)
  div
  div:last-child
  div
  div
  span:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-blackCustom);
}

table:global(.vtex-my-orders-app-3-x-productTable) {
  margin-top: 16px;
}
:global(.vtex-account__order-details) :global(.myo-product-table) thead,
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.myo-product-info)
  div
  span {
  display: none;
}

:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.vtex-my-orders-app-3-x-productRow) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  position: relative;
  width: 100%;
}
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.myo-product-info)
  img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.myo-product-info) {
  width: 100%;
  padding: 0;
  min-height: auto;
  display: block;
  position: relative;
}
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.myo-product-info)
  div {
  width: calc(100% - 70px);
  min-height: 39px;
  line-height: 13px;
}
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.myo-product-info)
  div
  a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: var(--main-blackCustom);
  text-decoration: none;
}
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  :global(.vtex-my-orders-app-3-x-productQuantity),
:global(.vtex-account__order-details)
  :global(.myo-product-table)
  td:last-child {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -20px;
  left: calc(100px - 34px);
  color: var(--main-blackCustom);
  font-weight: 700;
  font-size: 12px;
}

/*cancelar*/
:global(.vtex-account__cancel-order) div aside,
:global(.vtex-account__cancel-order) div section p,
:global(.vtex-account__cancel-order)
  :global(.list)
  :global(.vtex-my-orders-app-3-x-optionDisclaimer)
  div {
  display: none;
}

:global(.vtex-account__cancel-order)::before {
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  background: url(assets/images/il-board-wrong.png) no-repeat;
  background-position: center;
}

:global(.vtex-account__cancel-order) div section section h5 {
  color: var(--main-slateBlue1);
  font-size: 14px;
}
:global(.vtex-account__cancel-order)
  div
  section
  section
  ul
  :global(.myo-option)
  span
  :global(.b--muted-3) {
  border-color: var(--main-slateBlue1);
}
:global(.vtex-account__cancel-order)
  div
  section
  section
  ul
  :global(.myo-option)
  span
  input:global(.b--muted-3):checked::after {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  background: var(--main-pink);
}
:global(.vtex-account__cancel-order)
  div
  section
  section
  ul
  :global(.myo-option)
  label {
  color: var(--main-blackCustom);
}
:global(.vtex-account__cancel-order)
  div
  section
  section
  ul
  :global(.myo-option) {
  border-bottom: none;
}
:global(.vtex-account__cancel-order)
  :global(.list)
  :global(.vtex-my-orders-app-3-x-optionDisclaimer) {
  background-color: transparent;
  padding: 0;
  text-align: center;
}

:global(.vtex-account__cancel-order)
  :global(.list)
  :global(.vtex-my-orders-app-3-x-optionDisclaimer)
  button {
  background-color: var(--main-pink);
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  padding: 12px 16px;
  border-color: var(--main-pink);
  border-radius: 30px;
  height: 48px;
  margin-top: 0;
}

/*Modal sair*/
:global(.vtex-styleguide-9-x-scrollBar) > div,
:global(.vtex-modal__confirmation) {
  justify-content: center;
}

:global(.vtex-styleguide-9-x-scrollBar) button,
:global(.vtex-modal__confirmation) button {
  background: var(--main-slateBlue1);
  border: 2px solid var(--main-slateBlue1);

  border-radius: 30px;

  height: 60px;
  width: auto;
}
:global(.vtex-modal__confirmation) > span,
:global(.vtex-modal__confirmation) > button {
  flex-grow: 1;
}

:global(.vtex-modal__confirmation) span button {
  width: 100%;
  background: transparent;
}
:global(.vtex-modal__confirmation) span button:hover,
:global(.vtex-modal__confirmation) span button:focus {
    border: 2px solid var(--main-slateBlue1);
}

:global(.vtex-styleguide-9-x-scrollBar) span button div,
:global(.vtex-modal__confirmation) span button div {
  color: var(--main-slateBlue1);
  width: auto;
}
:global(.vtex-modal__confirmation) button div {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  padding: 22px 16px 21px !important;
  height: auto;
  width: 100%;
  display: inline-block;
}

:global(.vtex-modal__overlay) :global(.vtex-modal__close-icon) svg {
  opacity: 0;
}
:global(.vtex-modal__overlay) :global(.vtex-modal__close-icon) {
  background: url(assets/svg/ic-exit.svg) no-repeat;
  background-position: center;
}
:global(.vtex-modal__overlay)
  :global(.vtex-modal__modal)
  div:last-child
  span:global(.t-heading-5.pa6) {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: block;
  padding: 0;
  line-height: 20px;
}
:global(input) {
  font-family: "Poppins";
}
:global(.vtex-modal__modal) {
  max-width: 100%;
  margin: 0 auto;
}
:global(.vtex-modal__modal) :global(.vtex-styleguide-9-x-scrollBar) {
  padding: 15px 0;
  width: 75vw;
  margin: 0 auto;
}
.userInfo div:not(.userImage):last-child {
  width: auto;
  height: 65%;
  display: flex;
  align-items: flex-start;
  flex-grow: 2;
}

/*OrderPlaced dados entrega*/
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.address-summary.address-summary-BRA)
  > span {
  vertical-align: middle;
  padding: 2px;
}

:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.address-summary.address-summary-BRA)
  > span:nth-child(6)::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
}
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.address-summary.address-summary-BRA)
  :global(.line2-delimiter)
  + span {
  display: block;
}
:global(.vtex-order-placed-2-x-packageAddressWrapper)
  :global(.vtex-order-placed-2-x-addressContainer)
  :global(.address-summary.address-summary-BRA)
  > span:last-child {
  display: none;
}

:global(.vtex-order-placed-2-x-package)
  :global(.vtex-order-placed-2-x-productList)
  :global(.vtex-order-placed-2-x-productListItem)
  :global(.vtex-order-placed-2-x-productWrapper)
  img {
  border: 1px solid #728aaf;
  border-radius: 10px;
}

:global(.vtex-order-placed-2-x-package)
  :global(.vtex-order-placed-2-x-productList)
  :global(.vtex-order-placed-2-x-productListItem) {
  width: 100%;
}


:global(.vtex-login-2-x-inputContainer)
:global(.vtex-input-prefix__group) span:global(.vtex-input__suffix) {
  background: transparent;
  padding: 0;
}

/*Btn Zendesnk home*/
[id*="launcher"],
[id*="zendesk-fake-btn"] {
  top: 0 !important;
  bottom: unset !important;
  right: 0 !important;
  left: unset !important;
  opacity: 0 !important;
  margin-right: 15px !important;
}
[id*="zendesk-fake-icon"] {
  opacity: 0;
}

@media screen and (max-width: 353px) {
  :global(.vtex-pageHeader__container) {
    padding: 10px 25px 30px;
  }

  :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    position: relative;
    height: auto;
    font-size: 24.1px;
    line-height: 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  :global(.vtex-account__page-body):global(.vtex-my-account-1-x-profile)
    :global(.flex-column-s) {
    flex-flow: column wrap;
  }

  :global(.vtex-address-form__postalCode) div a {
    left: 0;
  }
  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount) {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 639px) {
  :global(.render-route-store-account)
    :global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
    background: transparent;
  }
  :global(.render-route-store-account)
    :global(.vtex-sticky-layout-0-x-container--sticky-header) {
    background: linear-gradient(
      180deg,
      #f9f9ff 87.41%,
      rgba(249, 249, 255, 0) 100%
    );
  }
  :global(.vtex-account__page-body).profile,
  :global(.vtex-account__page-body).profileEdit,
  :global(.vtex-account__page-body):global(.vtex-account__orders-list),
  :global(.vtex-account__page-body):global(.vtex-account__order-details),
  :global(.vtex-account__page-body):global(.vtex-my-account-1-x-addressList),
  :global(.vtex-account__page-body):global(.vtex-my-account-1-x-addressEdit),
  :global(.vtex-account__page-body):global(.vtex-my-account-1-x-addressCreate),
  :global(.vtex-account__page-body):global(.vtex-account__cards-list),
  :global(.vtex-account__page-body):global(.vtex-account__create-card) {
    max-width: 375px;
    margin: 0 auto;
    position: relative;
    top: 10px;
  }

  :global(.vtex-account__page-body):global(.vtex-account__order-details) {
    top: 40px !important;
  }

  :global(.vtex-account__page-body):global(.vtex-my-account-1-x-addressCreate) {
    min-height: 50vh;
    top: 20px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-flexRowContent--headerWrapper-inAccount) {
    display: flex;
    flex-direction: row;
    min-height: 145px;
    align-items: flex-start;
    padding: 25px 25px 30px;
    z-index: 998;
  }

  :global(.vtex-account__page) header {
    margin: 0;
    display: block;
    position: fixed;
    top: 80px;
    height: auto;
    width: 100%;
    padding: 0;
    z-index: 999;
    background: linear-gradient(
      180deg,
      #f9f9ff 87.41%,
      rgba(249, 249, 255, 0) 100%
    );
  }

  :global(.vtex-pageHeader__container) {
    padding: 10px 25px;
  }
  :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    position: relative;
    min-height: 40px;
    max-width: 325px;
    margin: 0 auto;
  }

  :global(.vtex-pageHeader-link__container) {
    position: absolute;
    top: -50px;
    margin: 0;
  }

  :global(.vtex-pageHeader__container) div:global(.c-on-base.flex.flex-wrap) {
    height: auto;
    position: relative;
    display: block;
    max-width: 375px;
    margin: 0 auto;
  }
  :global(.vtex-pageHeader-link__container) button {
    display: block;
    width: auto;
    background: url(assets/svg/icn-arrow-left-default.svg) no-repeat;
    background-position: center;
  }
  :global(.vtex-pageHeader__title) {
    font-family: "Poppins";
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: var(--main-blackCustom);
    position: relative;
    top: 0;
    display: block;
  }
  :global(.vtex-account__page) :global(.vtex-pageHeader__children) {
    top: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    max-width: 325px;
    margin: 0 auto;
    box-sizing: content-box;
    display: block;
    position: relative;
  }
  :global(.vtex-account__page)
    :global(.vtex-pageHeader__children)
    :global(.vtex-my-cards-1-x-newCardButton) {
    min-height: 60px;
    display: block;
  }
  .menu::before {
    content: "";
    width: 100%;
    display: block;
    background: url(assets/svg/logo-nexo.svg);
    height: 21px;
    margin: 0 0 70px 0;
    background-position: center;
    background-repeat: no-repeat;
  }
  .menuLink {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    padding: 0 0 30px 76px;
    margin: -48px 0 0 0;
  }

  :global(.vtex-account__page-body.vtex-my-account-1-x-addressList) {
    margin-top: 75px;
    min-height: calc(812px - 60vh);
  }
  :global(.vtex-pageHeader__children) a[href*="#/addresses/new"] {
    height: 100%;
    display: block;
  }

  :global(.vtex-account__page-body):global(.vtex-account__cards-list) {
    margin-top: 164px;
    min-height: calc(812px - 70vh);
  }
}

@media screen and (min-width: 640px) {
  :global(.vtex-account.helvetica.flex.justify-around) {
    min-height: 100vh;
  }
  :global(.vtex-address-form__country)
    :global(.vtex-dropdown)
    :global(.vtex-dropdown__button) {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
  }
  :global(.vtex-account__page) :global(.db.dn-m) {
    display: block;
  }
  .menuLink {
    color: #fff;
    font-weight: 400;
    padding: 0 0 30px 78px;
    margin: -45px 0 0 0;
    font-size: 12px;
  }
  .menuLinks div div a {
    border: #fff;
  }
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard) {
    width: 380px;
  }
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    div:nth-child(1),
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    div:nth-child(2) {
    width: 50%;
  }
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    div:nth-child(3),
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    :global(.vtex-my-orders-app-3-x-orderHeaderLabel),
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    :global(.vtex-my-orders-app-3-x-orderHeaderValue),
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard)
    :global(.vtex-my-orders-app-3-x-orderBody)
    div:last-child,
  :global(.vtex-account__page),
  :global(.vtex-account__order-details)
    div
    :global(.w-100.fl.w-60-ns.pv3-ns.pr0) {
    width: 100%;
  }

  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    :global(.vtex-my-orders-app-3-x-orderHeaderValue)
    div {
    width: auto;
  }
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    :global(.vtex-my-orders-app-3-x-orderHeaderValue)
    div
    span,
  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderCard)
    :global(.vtex-my-orders-app-3-x-orderBody)
    div:last-child
    div:last-child,
  :global(.vtex-account__order-details)
    div
    :global(.w-100.pv7.fl)
    table
    tbody
    tr
    td:nth-child(2) {
    display: none;
  }

  :global(.vtex-account__orders-list)
    :global(.vtex-my-orders-app-3-x-orderHeader)
    div:nth-child(3)
    div:nth-child(3) {
    text-align: left;
  }
  :global(.vtex-account__order-details) div div ul {
    margin-top: 0;
  }
  :global(.vtex-account__order-details) div div ul li {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }
  :global(.vtex-account__order-details) div section article {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  :global(.vtex-account__order-details) div section article section {
    margin: 0;
    overflow: auto;
  }
  :global(.vtex-account__order-details) div :global(.w-100.pv7.fl) {
    padding: 10px 25px;
  }
  :global(.vtex-account__order-details) div :global(.w-100.pv7.fl) table {
    margin-top: 20px;
  }
  :global(.vtex-account__page) header :global(.vtex-pageHeader__container) {
    padding: 0;
  }
  :global(.vtex-account__page)
    header
    :global(.vtex-pageHeader__container)
    :global(.vtex-pageHeader__title),
  :global(.vtex-account__page)
    header
    :global(.vtex-pageHeader__container)
    :global(.vtex-pageHeader__children.order-2.order-0-ns.mt0-ns) {
    padding: 0 25px;
  }
  .addressBox div article main div {
    margin: 0;
  }
  :global(.vtex-account__page) header :global(.vtex-pageHeader__children) {
    display: block;
  }
  :global(.vtex-account__page) :global(.vtex-my-cards-1-x-newCardButton) {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  :global(.vtex-account__page)
    header
    :global(.vtex-my-cards-1-x-newCardButton)
    div:last-child {
    top: 0;
  }
  :global(.vtex-profile-form-3-x-genderInput)
    :global(.vtex-dropdown__button)
    > :global(.flex) {
    height: 20px;
    position: relative;
    align-items: center;
  }
  :global(.vtex-account__order-details) div div div div:last-child > div {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  :global(.vtex-account__order-details)
    div
    div:last-child
    div
    div
    span:last-child {
    padding: 0;
    background: transparent;
    color: var(--main-blackCustom);
  }

  :global(.vtex-pageHeader__container),
  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount) {
    max-width: 100%;
  }

  :global(.vtex-account__cards-list) div div span span:after {
    top: 164px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1025px) {
  :global(.vtex-account__page) header div {
    display: none;
  }
  :global(.vtex-account__page) header div:first-child,
  :global(.vtex-account__page) header div div:last-child {
    display: block;
  }
  :global(.vtex-pageHeader__container)
    :not(.vtex-pageHeader-link__container)
    :global(.vtex-pageHeader__children) {
    margin-top: 30px;
    width: 100%;
  }
  .menu {
    min-width: 38%;
  }

  :global(.vtex-account__orders-list) div section > div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 25px 3%;
  }

  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-flexRowContent--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }

  :global(.vtex-account__page) header {
    margin: 0;
    position: fixed;
    top: 50px;
    width: 100%;
    padding: 0;
    z-index: 999;
  }
  :global(.vtex-pageHeader-link__container) button {
    display: block;
    width: auto;
    background: url(assets/images/icn-arrow-left-default.png) no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 640px) and (max-width: 720px) {
  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-flexRowContent--headerWrapper-inAccount) {
    display: flex;
    flex-direction: row;
    min-height: 160px;
    height: 100%;
    align-items: flex-start;
    padding: 25px 30px;
    z-index: 998;
  }
  :global(.vtex-account__page) :global(.db.dn-m) {
    position: relative;
    top: 20px;
  }
  :global(.vtex-pageHeader-link__container) {
    margin: 0;
    margin-top: -25px;
    width: max-content;
  }
  :global(.vtex-pageHeader__container)
    :global(.c-on-base.flex.flex-wrap.flex-row.justify-between.mt0) {
    margin-top: 37px;
    display: block;
  }
  :global(.vtex-pageHeader-link__container) button {
    position: relative;
    top: -20px;
    left: 20px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-flexRowContent--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 721px) {
  .menu {
    position: relative;
    min-width: 285px;
    height: auto;
  }
  .menuLinks {
    position: relative;
  }
  .menuLinks .menuLink {
    padding: 0 0 30px 75px;
    margin: -45px auto 0 auto;
    width: 100%;
  }
  :global(.vtex-pageHeader-link__container) button {
    display: none;
  }

  :global(.vtex-account__page-body.vtex-account__order-details)
    :global(.center.w-100)
    div:global(.fl.w-40-ns.pv3.pl0):first-child {
    width: auto;
  }
}

@media screen and (min-width: 721px) and (max-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-flexRowContent--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    justify-content: flex-start;
  }
  :global(.vtex-flex-layout-0-x-flexRow--headerWrapper-inAccount)
    :global(.vtex-flex-layout-0-x-flexRowContent--headerWrapper-inAccount) {
    display: flex;
    flex-direction: row;
    min-height: 70px;
    height: 100%;
    align-items: flex-start;
    padding: 25px 30px;
    z-index: 998;
  }
  :global(.vtex-account.helvetica.flex.justify-around)
    :global(.w-100.mw9.pv7-m.pv9-l.flex) {
    padding: 0;
  }
  :global(.vtex-account__page) header {
    position: relative;
    top: 0;
    z-index: unset;
    margin-bottom: 30px;
  }
  :global(.vtex-account__page) :global(.db.dn-m) {
    top: 0;
  }

  .addressCreate .boxContainerBody {margin-top: 15px;}
}
@media screen and (min-width: 1025px) {
  :global(.vtex-account__page-body) {
    padding: 10px 25px 0;
  }
  :global(.vtex-account__page) header :global(.vtex-pageHeader__container) {
    display: block !important;
  }
  :global(.vtex-account__page) :global(.db-m.dn),
  :global(.vtex-pageHeader__container)
    :global(.vtex-pageHeader-link__container) {
    display: none;
  }
  :global(.vtex-account.helvetica.flex.justify-around)
    :global(.w-100.mw9.pv7-m.pv9-l.flex) {
    padding-top: 0;
  }
  :global(.vtex-pageHeader__container)
    :not(.vtex-pageHeader-link__container)
    :global(.vtex-pageHeader__children) {
    margin-top: 30px;
    width: 100%;
  }
  .menu {
    min-width: 30%;
    width: 40%;
  }

  :global(.vtex-account__orders-list) div section > div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 25px 3%;
  }
}

/*SPINNER*/
:global(.vtex-button__spinner-container) :global(.vtex__icon-spinner) {
  color: #fff;
}
:global(.vtex-spinner_circle) {
  stroke: var(--main-slateBlue1);
}
/*Colors*/

:global(.hover-b--action-primary):focus,
:global(.hover-b--action-primary):hover {
  border-color: var(--main-slateBlue1);
  background-color: var(--main-slateBlue1);
}

:global(.hover-b--action-secondary):focus,
:global(.hover-b--action-secondary):hover {
  border-color: transparent;
  background-color: transparent;
}

:global(.vtex-checkbox__container) :global(.b--action-primary),
:global(.vtex-checkbox__container) :global(.bg-action-primary) {
  border-color: var(--main-pink);
  background-color: var(--main-pink);
}

:global(.vtex-checkbox__container) :global(.b--muted-4) {
  border-color: var(--main-pink);
}

:global(.c-danger) {
  color: var(--main-pink);
  font-weight: 500 !important;
}
:global(.vtex-input-prefix__group):focus,
:global(.vtex-input-prefix__group):hover {
  box-shadow: none;
  border-radius: 30px;
}

:global(#root) :global(.vtex-input-prefix__group):focus,
:global(#root) :global(.vtex-input-prefix__group):hover,
:global(.hover-b--silver):focus,
:global(.hover-b--silver):hover {
  border: 1px solid var(--main-borderInput-slateBlue7) !important;
}
:global(.dim):focus, :global(.dim):hover {opacity: 1;}
/*Footer*/
:global(.vtex-flex-layout-0-x-flexRow--footer-mobile-infos)
  [class*="vtex-store-components-3-x-container"] {
  padding: 0;
}

/* safari */
@supports (overflow:-webkit-marquee) and (justify-content:inherit)
{
  *:focus,
  *:focus-visible {
      outline: none !important;
      border: none !important;
  }
}
@media screen and (min-color-index:0) and  (-webkit-min-device-pixel-ratio:0) { @media and {
  :focus,
  :focus-visible {
      outline: none !important;
      border: none !important;
  }
}}

