@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Thin.woff);
    font-weight: 200;
}
@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-ExtraLight.woff);
    font-weight: 300;
}
@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Light.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Regular.woff);
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-SemiBold.woff);
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-ExtraBold.woff);
    font-weight: 800;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Black.ttf);
    font-weight: 900;
}


